<a href="https://colab.research.google.com/github/arbit-raj/Python-Training/blob/main/Inheritance_Python_Training_Session_3_by_Deepanshu_Jasrija.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#initializing the training class
class Training:
  def __init__(self, name, level):
    self.name = name
    self.level = level

  def printo(self):
    print("Hi Training name is "+self.name)
    print("Hi Training level is "+str(self.level))

In [7]:
p1= Training("Python Training",10)
p1.printo()

Hi Training name is Python Training
Hi Training level is 10

In [8]:
del p1.level
del p1

In [9]:
#creating empty class
class Person:
  pass

In [27]:
class summing:
  def __init__(obj,num1,num2):
    obj.num1 = num1
    obj.num2 = num2

  def prints(obj):
    print("Print is "+str(obj.num1)+str(obj.num2))

In [28]:
tr1= summing(1,2)
tr1.prints()

Print is 12

In [15]:
class Trainer:
  def __init__(self,fname,lname):
    self.fname= fname
    self.lname= lname

  def printname(self):
    print(self.fname, self.lname)

In [17]:
x= Trainer("Deepanshu", "Pasrija")
x.printname()

Deepanshu Pasrija

In [47]:
#JUGAAD
class summingv2:
  def __init__(res,num1,num2):
    res.num1=int(num1)
    res.num2=int(num2)
    res.summed=num1+num2

  def printres(res):
    print("Sum is "+str(res.summed))

In [48]:
r1= summingv2(1,2)
r1.printres()

Sum is 3

In [35]:
class Person:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname

  def printname(self):
    print(self.fname,self.lname)

class Student(Person):
  pass

In [36]:
x = Student("Deepanshu", "Pasrija")
x.printname()

Deepanshu Pasrija

In [49]:
class Person:
  def __init__(self,fname,lname):
    self.firstname=fname
    self.lastname=lname
  
  def printname(self):
    print(self.firstname,self.firstname)

class Student(Person):
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname

In [50]:
x = Student("Mike","Tyson")
x.printname()

AttributeError: ignored

In [51]:
class Person:
  def __init__(self,fname,lname):
    self.firstname=fname
    self.lastname=lname
  
  def printname(self):
    print(self.firstname,self.lastname)

class Student(Person):
  def __init__(self,fname,lname):
    Person.__init__(self,fname,lname)

In [52]:
x = Student("Mike","Tyson")
x.printname()

Mike Tyson

In [55]:
class Person:
  def __init__(self,fname,lname):
    self.firstname=fname
    self.lastname=lname
  
  def printname(self):
    print(self.firstname,self.lastname)

class Student(Person):
  def __init__(self,fname,lname):
    super().__init__(fname,lname)

In [56]:
x = Student("Mike","Tyson")
x.printname()

Mike Tyson