<a href="https://colab.research.google.com/github/arbit-raj/Python-Training/blob/main/Pandas_Python_Training_Session_1_by_Deepanshu_Jasrija.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

inp = pd.Series([1,57,36,7,np.nan,9])

inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01  0.969637 -0.643217 -1.267306 -1.107879
2013-01-02 -1.824052  0.809720  0.195802 -0.164996
2013-01-03  0.142713 -1.332160 -0.783452 -0.477187
2013-01-04 -1.609044  0.762662  0.929138 -2.102355
2013-01-05  0.196282  1.178901 -0.421550 -1.737170
2013-01-06  0.395285 -0.110611 -0.098616  0.520833

In [7]:
df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [19]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [18]:
df2[1:3]

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [7]:
#get data from file in github
!wget https://github.com/DeepanshuPasrija/Python02082021/blob/main/data.csv
# !ls ??

## DID NOT WORK

--2021-08-04 04:56:54--  https://github.com/DeepanshuPasrija/Python02082021/blob/main/data.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘data.csv’

data.csv                [ <=>                ] 737.43K  --.-KB/s    in 0.04s

2021-08-04 04:56:55 (16.9 MB/s) - ‘data.csv’ saved [755125]

In [10]:
import pandas as pd
import numpy as np

data = pd.read_csv("/content/data.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [12]:
filter=["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean","concavity_mean","concave points_mean","symmetry_mean","fractal_dimension_mean","radius_se","texture_se"]
filteredData = data[filter]
filteredData.head()

         id diagnosis  ...  radius_se  texture_se
0    842302         M  ...     1.0950      0.9053
1    842517         M  ...     0.5435      0.7339
2  84300903         M  ...     0.7456      0.7869
3  84348301         M  ...     0.4956      1.1560
4  84358402         M  ...     0.7572      0.7813

[5 rows x 14 columns]

In [18]:
filteredData.sort_index(axis=1, ascending=True).head(10)

##waht is axis??

   area_mean  compactness_mean  ...  texture_mean  texture_se
0     1001.0           0.27760  ...         10.38      0.9053
1     1326.0           0.07864  ...         17.77      0.7339
2     1203.0           0.15990  ...         21.25      0.7869
3      386.1           0.28390  ...         20.38      1.1560
4     1297.0           0.13280  ...         14.34      0.7813
5      477.1           0.17000  ...         15.70      0.8902
6     1040.0           0.10900  ...         19.98      0.7732
7      577.9           0.16450  ...         20.83      1.3770
8      519.8           0.19320  ...         21.82      1.0020
9      475.9           0.23960  ...         24.04      1.5990

[10 rows x 14 columns]

In [19]:
filteredData.sort_values(by="diagnosis", ascending=True)

          id diagnosis  ...  radius_se  texture_se
284  8912284         B  ...     0.2913      1.3890
371  9012568         B  ...     0.1783      0.4125
367  9011495         B  ...     0.2527      0.7786
364  9010877         B  ...     0.1584      0.6124
363  9010872         B  ...     0.3389      1.4390
..       ...       ...  ...        ...         ...
146   869691         M  ...     0.3197      1.4260
379  9013838         M  ...     0.2114      1.0270
141   869104         M  ...     0.7049      1.3320
138   868826         M  ...     1.2960      1.4520
0     842302         M  ...     1.0950      0.9053

[569 rows x 14 columns]

In [21]:
filteredData['diagnosis'].head

<bound method NDFrame.head of 0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name: diagnosis, Length: 569, dtype: object>

In [22]:
filteredData[4:7]

         id diagnosis  ...  radius_se  texture_se
4  84358402         M  ...     0.7572      0.7813
5    843786         M  ...     0.3345      0.8902
6    844359         M  ...     0.4467      0.7732

[3 rows x 14 columns]

In [23]:
filteredData.loc[:,["id", "diagnosis"]]

##filteredData.loc[start record:end record,["id", "diagnosis"]]
#if not specified start and end records all will show

           id diagnosis
0      842302         M
1      842517         M
2    84300903         M
3    84348301         M
4    84358402         M
..        ...       ...
564    926424         M
565    926682         M
566    926954         M
567    927241         M
568     92751         B

[569 rows x 2 columns]

In [24]:
filteredData.loc[:10,["id", "diagnosis"]]

          id diagnosis
0     842302         M
1     842517         M
2   84300903         M
3   84348301         M
4   84358402         M
5     843786         M
6     844359         M
7   84458202         M
8     844981         M
9   84501001         M
10    845636         M

In [25]:
filteredData.iloc[0:10, 0:3]

         id diagnosis  radius_mean
0    842302         M        17.99
1    842517         M        20.57
2  84300903         M        19.69
3  84348301         M        11.42
4  84358402         M        20.29
5    843786         M        12.45
6    844359         M        18.25
7  84458202         M        13.71
8    844981         M        13.00
9  84501001         M        12.46

In [26]:
filteredData.iloc[5:10, 3:6]

   texture_mean  perimeter_mean  area_mean
5         15.70           82.57      477.1
6         19.98          119.60     1040.0
7         20.83           90.20      577.9
8         21.82           87.50      519.8
9         24.04           83.97      475.9

In [27]:
filteredData.iloc[5:10,:]

         id diagnosis  ...  radius_se  texture_se
5    843786         M  ...     0.3345      0.8902
6    844359         M  ...     0.4467      0.7732
7  84458202         M  ...     0.5835      1.3770
8    844981         M  ...     0.3063      1.0020
9  84501001         M  ...     0.2976      1.5990

[5 rows x 14 columns]

In [30]:
filteredData.iloc[[5,6,7,10],0:3]

          id diagnosis  radius_mean
5     843786         M        12.45
6     844359         M        18.25
7   84458202         M        13.71
10    845636         M        16.02

In [32]:
topRows = filteredData.head(20).copy()
topRows

          id diagnosis  ...  radius_se  texture_se
0     842302         M  ...     1.0950      0.9053
1     842517         M  ...     0.5435      0.7339
2   84300903         M  ...     0.7456      0.7869
3   84348301         M  ...     0.4956      1.1560
4   84358402         M  ...     0.7572      0.7813
5     843786         M  ...     0.3345      0.8902
6     844359         M  ...     0.4467      0.7732
7   84458202         M  ...     0.5835      1.3770
8     844981         M  ...     0.3063      1.0020
9   84501001         M  ...     0.2976      1.5990
10    845636         M  ...     0.3795      1.1870
11  84610002         M  ...     0.5058      0.9849
12    846226         M  ...     0.9555      3.5680
13    846381         M  ...     0.4033      1.0780
14  84667401         M  ...     0.2121      1.1690
15  84799002         M  ...     0.3700      1.0330
16    848406         M  ...     0.4727      1.2400
17  84862001         M  ...     0.5692      1.0730
18    849014         M  ...     0.7582      1.0170
19   8510426         B  ...     0.2699      0.7886

[20 rows x 14 columns]

In [33]:
#check for NA in records - important to clean data
pd.isna(filteredData).head(10)

      id  diagnosis  radius_mean  ...  fractal_dimension_mean  radius_se  texture_se
0  False      False        False  ...                   False      False       False
1  False      False        False  ...                   False      False       False
2  False      False        False  ...                   False      False       False
3  False      False        False  ...                   False      False       False
4  False      False        False  ...                   False      False       False
5  False      False        False  ...                   False      False       False
6  False      False        False  ...                   False      False       False
7  False      False        False  ...                   False      False       False
8  False      False        False  ...                   False      False       False
9  False      False        False  ...                   False      False       False

[10 rows x 14 columns]

In [35]:
filteredData.dropna(how="any")

           id diagnosis  ...  radius_se  texture_se
0      842302         M  ...     1.0950      0.9053
1      842517         M  ...     0.5435      0.7339
2    84300903         M  ...     0.7456      0.7869
3    84348301         M  ...     0.4956      1.1560
4    84358402         M  ...     0.7572      0.7813
..        ...       ...  ...        ...         ...
564    926424         M  ...     1.1760      1.2560
565    926682         M  ...     0.7655      2.4630
566    926954         M  ...     0.4564      1.0750
567    927241         M  ...     0.7260      1.5950
568     92751         B  ...     0.3857      1.4280

[569 rows x 14 columns]

In [36]:
filteredData.fillna(value=1)

           id diagnosis  ...  radius_se  texture_se
0      842302         M  ...     1.0950      0.9053
1      842517         M  ...     0.5435      0.7339
2    84300903         M  ...     0.7456      0.7869
3    84348301         M  ...     0.4956      1.1560
4    84358402         M  ...     0.7572      0.7813
..        ...       ...  ...        ...         ...
564    926424         M  ...     1.1760      1.2560
565    926682         M  ...     0.7655      2.4630
566    926954         M  ...     0.4564      1.0750
567    927241         M  ...     0.7260      1.5950
568     92751         B  ...     0.3857      1.4280

[569 rows x 14 columns]

In [40]:
inp = pd.Series([1,57,36,7,np.nan,9])

#inp.isna() works!
pd.isna(inp)

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [51]:
filledinp= inp.fillna(value=23)
filledinp
#not working because this is a series. not a dataframe

0     1.0
1    57.0
2    36.0
3     7.0
4    23.0
5     9.0
dtype: float64

In [52]:
dropinp= inp.dropna(how="any")
dropinp

0     1.0
1    57.0
2    36.0
3     7.0
5     9.0
dtype: float64

In [67]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame(
     {
         "A": np.array([1,2,np.nan,4], dtype="float32"), #special note - how to input using np.array
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  2.0 2013-01-02  1.0  3  train  foo
2  NaN 2013-01-02  1.0  3   test  foo
3  4.0 2013-01-02  1.0  3  train  foo

In [70]:
#df2['A']= df2['A'].cat.add_categories['Unknown']
df2['A'].fillna(50, inplace=True) #special note - how to replace in df
df2

      A          B    C  D      E    F
0   1.0 2013-01-02  1.0  3   test  foo
1   2.0 2013-01-02  1.0  3  train  foo
2  50.0 2013-01-02  1.0  3   test  foo
3   4.0 2013-01-02  1.0  3  train  foo